* {
  box-sizing: border-box;
}
body {
  justify-content: inline;
  margin: 0;
}

main {
  background: rgb(226, 224, 226);
  font-family: sans-serif;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
}

ul {
  position: left;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  background-color: rgb(133, 141, 255);
}
li {
  flex: auto;
  border-right: 2px solid;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
  line-height: 5;
  margin-top: 50px;
}
a:hover {
  background: rgba(#000, 0.2);
}
#pokeName {
  width: 250px;
  height: 40px;
  outline: none;
  margin: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(60, 73, 255);
  border-top: 2px solid rgb(133, 141, 255);
  border-radius: 25px;
  line-height: 1.2rem;
  font-size: 1rem;
  text-align: center;
  color: black;
  letter-spacing: 2px;
  font-family: "sans-serif", cursive;
  position: right;
}
#searchPokemon {
  position: relative;
  display: inline;
  top: 0;
  right: 0;
  width: 85px;
  height: 35px;
  text-align: center;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}
/* .tipos {
  display: inline-block;
} */
#tipo {
  padding: 8px 12px;
  color: black;
  background-color: rgb(133, 141, 255);
  border-radius: 5px;
  cursor: pointer;
  display: inline;
}
/* .ordenF {
  align-items: right;
} */
#orden {
  padding: 8px 12px;
  color: black;
  background-color: rgb(133, 141, 255);
  border-radius: 5px;
  cursor: pointer;
  display: inline;
}
footer {
  font-size: 17px;
  text-align: center;
  margin: 25px;
}
/*estilo visualizacion del pokemon(flexbox)*/
#info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.cardpokemon {
  width: 250px;
  height: 300px;
  background-color: rgb(55, 65, 158);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 1);
  margin: 30px 20px;
  text-align: center;
  border-radius: 10px;
}
.pokemonimagen {
  width: 55%;
  height: 40%;
  align-items: center;
  filter: drop-shadow(0 5px 3px black);
}
.pokemonimagen:hover {
  width: 60%;
  height: 40%;
  z-index: 20;
  align-items: center;
  transform: rotate(-9deg);
}
.pokemonnombre {
  margin: 2.5px;
  letter-spacing: 0.5px;
  font-family: "sans-serif";
  font-size: 25px;
  color: antiquewhite;
}
.pokemontipo {
  margin: 2.5px;
  letter-spacing: 0.5px;
  font-family: "Arial Narrow";
  font-size: 25px;
  color: navajowhite;
}
/*PREGUNTAR*/
.pokemonnumero {
  font-family: "caveat";
  font-weight: bold;
  font-size: 25px;
  color: rgb(55, 65, 158);
  background-color: #f6aac7;
  position: relative;
  top: -25px;
  left: 0;
  padding: 5px 5px;
  margin: 2px -1px;
  border-radius: 5px;
  filter: drop-shadow(0 2px 2px #f6aac7);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > section {
  max-width: 800px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border-radius: 3px;
  background: #fff;
}
.close {
  font-family: Arial, Helvetica, sans-serif;
  background: #f26d7d;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  padding-top: 5px;
}
.close:hover {
  background: #fa3f6f;
}
