
  /*estilo visualizacion del pokemon(flexbox)*/
  #info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .cardpokemon{
    width:250px;
    height: 300px;
    background-color: rebeccapurple;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
  }
  /*para probar estilo en las cardpokemon*/
  /* .cardcontainer{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    width:100%;
    min-width: 100%;
    height: 100vh;
  }
  .card{
    height:90vh;
    width: 35rem;
    min-width: 35rem;box-shadow: 0 1.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    position: relative;
    background-color: #ffffff;
    z-index: 10;
  }
  .card-image{
    width: 100%;
    height: auto;

  } */
